# Database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

DB_PORT=5432
DB_HOST=postgres

# Ports
BACKEND_PORT=8000
FRONTEND_PORT=5173

# LLM
LLM_PROVIDER=ollama

OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=qwen2.5:3b