# Database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
DB_HOST=db
DB_USER=privacy_user
DB_PASSWORD=privacy_password
DB_NAME=privacy_db

# Ports
BACKEND_PORT=8000
FRONTEND_PORT=5173
DB_PORT=5432